html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --primary: #81BD7B;
  --secondary: #FFE8BC;
  --warn: #E97F7F;
  --text: #444;
  --link: #777;
  --background: #f9f9f9;
  --foreground:  #FAFAFA;
}

/* ---------- Global Classes */
.container {
  padding: 1rem;
  margin: 1rem;
}
.recipe-image {
  width: 240px;
  height: 150px;
}
